DJANGO_DEBUG=true
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=dantedoglcb
POSTGRES_USER=dantedoglcb
POSTGRES_PASSWORD=change-me
TESSERACT_CMD=/usr/bin/tesseract
TESSDATA_PREFIX=/usr/share/tesseract-ocr/5/tessdata